@import "tailwindcss";

html {
    font-size: 18px;
}

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme {
    --color-primary: #6e8b6f;
    --color-primary-900: #4b5e4b;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
    --font-rune: var(--font-rune);
    --font-recoletaBold: var(--font-recoleta-bold);
    --font-visueltMed: var(--font-visuelt-medium);
    --font-visueltReg: var(--font-visuelt-regular);
}

@utility primary-gradient {
    @apply bg-linear-to-b from-primary to-primary-900;
}

@utility rune {
    @apply font-rune;
}

@utility visuelt-med {
    @apply font-visueltMed;
}

@utility header-main {
    @apply font-recoletaBold;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-weight: bold;
    line-height: 110%;
}
